In [1]:
import pandas as pd
train = pd.read_csv("train.csv", index_col=0) # 学習用データ
test = pd.read_csv("test.csv", index_col=0)   # 評価用データ
sample_submit = pd.read_csv("sample_submission.csv", index_col=0, header=None) # 応募用サンプルファイル

In [2]:
train.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
id,,,,,,,,,,,,,,,,,,,,,
0,1203,0,0.680981,1,1,1,23,0.402580,117,3,...,1331,721,1970,15,1,4,1,0,1,2
3,1203,1,2.602754,1,0,0,8,0.415612,194,1,...,1571,1262,1150,14,16,14,1,0,1,3
4,1980,1,2.604065,1,0,0,6,0.858110,122,2,...,364,721,1970,18,12,11,1,0,1,1
5,1185,1,2.669403,1,3,0,33,0.027065,132,8,...,447,1162,1950,15,3,19,1,0,0,2
7,1203,1,2.375453,0,4,1,12,0.141485,135,6,...,364,1917,1970,16,7,6,1,1,1,0

In [3]:
y = train["price_range"]
X = train.drop(["price_range"],axis=1)

In [4]:
import lightgbm as lgb #LightGBM
# モデルの学習
model = lgb.LGBMClassifier() # モデルのインスタンスの作成
model.fit(X, y) # モデルの学習
# テストデータの予測クラス (予測クラス(0 or 1 or 2 or 3)を返す)
pred = model.predict(test)

Duplicate key in file WindowsPath('C:/anaconda/lib/site-packages/matplotlib/mpl-data/matplotlibrc'), line 250 ('font.family:  IPAexGothic')

In [5]:
print(pred.shape)

(800,)

In [6]:
test.shape

(800, 20)

In [7]:
test.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi
id,,,,,,,,,,,,,,,,,,,,
1,1203,0,0.498993,1,0,1,40,0.914530,190,8,7,381,721,1970,6,1,2,1,0,1
2,1154,0,1.981014,0,1,0,33,0.025999,82,6,10,376,1555,1970,11,7,3,1,0,0
6,1027,1,1.647026,0,0,1,32,0.912318,103,6,1,364,1374,1970,17,1,6,1,0,0
10,833,0,1.070061,0,0,0,2,0.033010,156,7,0,1331,1710,832,12,8,8,1,1,0
12,1027,1,1.859165,0,4,1,2,0.612349,171,1,13,667,1642,2655,14,5,2,1,1,0

In [8]:
sample_submit.head()

    1
0
1   0
2   0
6   0
10  0
12  0

In [9]:
print(pred)

[3 0 3 0 2 3 0 1 1 1 1 2 0 1 3 2 1 3 3 1 2 1 2 1 1 1 1 1 3 2 0 3 1 2 1 2 0
 0 0 0 0 3 2 0 2 2 1 0 2 2 1 2 1 1 1 1 2 1 3 3 2 0 0 1 2 2 2 2 0 2 0 1 3 2
 0 1 0 1 2 2 1 1 0 2 2 3 3 1 3 0 3 0 2 3 1 2 3 3 2 2 0 1 0 2 2 0 3 2 0 2 2
 2 2 0 1 3 1 1 1 1 2 3 2 1 0 2 2 2 0 2 3 0 1 2 3 3 0 2 1 3 2 0 2 3 2 3 3 3
 2 0 2 0 2 2 2 1 2 2 3 3 2 0 2 3 2 3 0 3 1 1 2 3 1 3 2 1 3 1 2 1 2 2 1 0 2
 2 3 3 0 2 1 3 1 1 3 2 1 1 1 3 3 2 1 2 2 1 2 1 1 0 1 1 1 0 1 2 2 2 3 1 2 1
 1 3 2 1 0 2 1 1 2 1 2 0 0 2 2 3 2 2 2 0 0 0 3 0 0 2 3 2 0 3 2 2 3 2 0 1 1
 0 0 2 3 2 1 3 2 3 1 2 1 2 1 2 3 0 0 1 2 1 1 2 0 3 2 0 2 3 0 3 2 2 1 3 2 2
 2 1 2 2 1 2 2 3 1 2 2 1 3 3 0 1 1 2 2 1 3 2 3 0 2 1 2 3 0 2 0 3 1 2 1 0 1
 1 2 1 3 2 2 3 2 3 0 2 3 3 1 2 0 3 2 2 2 2 3 3 0 3 1 1 0 1 1 1 1 0 2 0 3 2
 1 1 1 2 0 1 1 1 3 1 1 2 0 1 2 2 1 2 3 2 1 3 2 0 3 2 3 2 3 2 0 1 3 0 1 3 3
 2 1 2 1 0 1 3 2 1 3 2 1 3 2 2 0 2 3 0 1 0 0 1 3 2 1 1 2 0 3 2 0 0 3 3 3 2
 3 3 0 1 3 0 2 0 2 2 0 3 0 3 2 1 2 3 2 2 2 3 0 3 2 0 1 2 3 2 2 3 3 2 1 1 2
 0 1 2 2 1 3 3 3 1 2 0 0 2 1 3 1 2 3 3 3 3 0 1 0 1 3 2 1 2 3 2 3 3 2 1 0 2
 0 3 1 0 1 3 2 3 2 3 2 1 0 1 0 2 2 2 2 2 1 2 3 3 2 3 1 1 0 2 2 0 1 2 2 2 3
 2 2 3 1 1 3 0 3 1 2 3 2 2 1 3 0 0 2 3 2 2 2 2 0 1 1 0 3 2 2 3 3 0 2 1 3 1
 3 2 1 2 1 1 3 1 2 2 0 2 2 3 1 3 1 1 0 3 0 0 1 2 2 2 1 1 0 1 3 2 2 3 1 1 2
 2 1 1 0 0 3 1 0 2 3 2 3 2 2 1 1 1 1 0 2 1 1 1 3 1 2 3 3 2 1 1 2 1 0 1 1 1
 1 2 0 1 2 2 1 1 1 2 3 0 1 2 2 2 3 1 2 2 0 2 2 2 2 2 3 0 2 0 2 1 3 2 1 1 3
 1 1 3 3 2 0 0 2 2 1 0 2 2 1 3 2 2 1 1 3 1 2 1 0 1 1 2 0 3 1 0 2 1 1 1 2 3
 2 1 0 0 1 3 0 3 0 2 1 3 2 1 3 1 3 2 1 0 1 1 2 3 3 1 1 1 1 0 0 2 2 2 3 1 1
 1 1 3 3 0 1 3 1 3 3 3 0 3 3 2 1 3 3 0 1 3 2 2]

In [10]:
sample_submit[1] = pred
sample_submit.to_csv('submission6.csv', header=None)